extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="/module") Module
     li
      a(href="/singleton") Singleton
    li
      a(href="/observer") Observer
    li
      a(href="/strategy") Strategy
    li
      a(href="/decorator") Decorator

